:root {
  --primary-color: #4CAF50;
  --secondary-color: #45a049;
  --background-color: #f1f8e9;
  --text-color: #333;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Add more global styles as needed */

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
  /* Add more mobile-specific styles */
}